<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>homework1A and B: helped me understand the basics like pseudocode, binary system conversions,boolean logic, basic progeamming structure and use of lists  </p>
    <p>Homework2A and B: we worked with selection sort and simulations, machine learning library introduction</p>
    <p>Homework3A and B: was based on time complexity of set operations and percolation theory and machine learning</p>
    <p>Homework4: first interaction wth modeling a class, included enrolling students, generating assignments, calculate and assign grade to the student, calculate pay for teacher </p>
    <p>Homework5: completed the machine learning library used pandas and knn models</p>
    <p>favourite assignment was: percolation theory found its code and dynamics really interesting</p>
    </body>
</html>


