<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p> 5 classes taken this semester</p>
    <p> economics of gender </p>
    <p> intermediate microeconomic theory </p>
    <p> statistical inference </p>
    <p> introduction to python </p>
    <p> clinical psychology </p>
    <p> my favourite class this semester was clinical psychology, i really enjoyed learning different froms of therapies, techniques and their real life applications </p>
    </body>
</html>



