<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p> 5 classes taken this semester</p>
    <p> 1. economics of gender </p>
    <p> 2. intermediate microeconomic theory </p>
    <p> 3. statistical inference </p>
    <p> 4. introduction to python </p>
    <p> 5. clinical psychology </p>
    <p> my favourite class this semester was clinical psychology, i really enjoyed learning different froms of therapies, techniques and their real life applications </p>
    </body>
</html>



