<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
        <meta charset="utf-8" />
    <head>
    <body>
    <p>Name: Ashneet Wadhwa</p>
    <p>Grade: sophomore year </p>
    <p>Major: Mathematics major</p> 
    <a href="https://www.netflix.com/">Visit favourite site: netflix</a>
    <a href= "/classes">Visit classes section of website</a>
    <a href= "/assignments">Visit assignments section of website</a>
    <img src="/static/picture_of_me.jpg" alt="picture of me">
    </body>
</html>

